.about__container {
    margin-top: 100px;
    margin-bottom: 100px;
    align-content: center;
}

.about__container-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__info {
    width: auto;
    max-width: 1440px;
    padding: 50px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.about__info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about__info-text h2 {
    font-size: 32px;
}

.about__info-text h3 {
    font-size: 24px;
}

.about__info-text p {
    font-size: 20px;
    font-weight: 300;
    color: grey;
}

.about-img {
    width: 550px;
}
.about__info-text .Btn {
    border: 2px solid #FF2625;
}