.nav {
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;
}
.nav-content {
    margin: auto;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}
.nav .Btn {
    width: 150px;
    color: antiquewhite;
    border: 2px solid #FF2625;
    margin-right: 20px;
}

.nav-logo {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-links {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: ease;
}

.nav-links:hover {
    color: #ea1538;
    transition: 0.3s ease;
}

span {
    color: #ea1538;
}

@media screen and (max-width: 380px) {
    .nav-logo {
        font-size: 20px;
    }
    .nav .Btn {
        width: max-content;
    }
}