.class__container {
    overflow: scroll;
}

.card__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card__box-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}